@import 'config';

.archive {
  padding: 3rem 0;
  margin-top: 1.5rem;

  &__container {
    position: relative;

    &--box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      color: #fff;
      font-weight: 900;
    }

    &--year {
      font-weight: 900;
    }

    &--description {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}

.gallery--left {
  width: 100%;
  height: 15rem;
  background-image:
    linear-gradient(
      to right,
      rgba($secondary-color, 0.8),
      rgba($secondary-color, 0.7)
    ),
    url(https://cdn.pixabay.com/photo/2020/07/11/23/36/meeting-5395615__480.jpg);
  background-size: cover;

  &:hover {
    background-image:
      linear-gradient(
        to right,
        rgba($primary-color, 0.8),
        rgba($primary-color, 0.7)
      ),
      url(https://cdn.pixabay.com/photo/2020/07/11/23/36/meeting-5395615__480.jpg);
    background-size: cover;
  }
}

.gallery--right {
  width: 100%;
  height: 15rem;
  background-image:
    linear-gradient(
      to right,
      rgba($secondary-color, 0.8),
      rgba($secondary-color, 0.7)
    ),
    url(https://cdn.pixabay.com/photo/2020/01/22/09/38/meeting-4784909__480.jpg);
  background-size: cover;

  &:hover {
    background-image:
      linear-gradient(
        to right,
        rgba($primary-color, 0.8),
        rgba($primary-color, 0.7)
      ),
      url(https://cdn.pixabay.com/photo/2020/01/22/09/38/meeting-4784909__480.jpg);
    background-size: cover;
  }
}

@media only screen and (min-width: 768px) {
  .archive__container {
    &--box {
      padding: 4rem;
    }
  }
}
