@import 'config';

.brand {
  background-color: #fff;

  &__name {
    margin-bottom: 1.5rem;

    &--company {
      letter-spacing: 0.1rem;
      font-weight: 700;
      padding-bottom: 0;
    }

    &--info {
      font-size: 0.76rem;
      font-weight: 400;
      margin: 1rem 0;
    }
  }

  &__logo {
    margin: auto;
    padding: 1rem 0;
    width: 90%;
    border: 1px solid $light-color;

    &--icon {
      padding: 0 0.1rem;
      font-weight: 900;
      font-size: 4rem;
      color: $secondary-color;
    }

    &--company {
      &__name {
        font-weight: 900;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
      }

      &__slogan {
        font-weight: 500;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
      }
    }

    &__footer {
      display: flex;
      font-size: 0.76rem;
      border: 1px solid $light-color;
      border-left: none;
      border-right: none;
      padding: 0;
      margin: 0;

      &--date,
      &--location {
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .brand {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;

    &__name {
      margin-bottom: 1.5rem;

      &--company {
        letter-spacing: 0.1rem;
        font-weight: 400;
        padding-bottom: 0;
      }

      &--info {
        font-size: 0.76rem;
        font-weight: 400;
        margin: 1rem 0;
      }
    }

    &__logo {
      margin: auto;
      width: 25rem;
      border: 1px solid $light-color;

      &--icon {
        padding: 0 0.1rem;
        font-weight: 900;
        font-size: 4rem;
        color: $secondary-color;
      }

      &--company {
        &__name {
          font-weight: 900;
          font-size: 1.5rem;
          padding: 0;
          margin: 0;
        }

        &__slogan {
          font-weight: 500;
          font-size: 1.5rem;
          padding: 0;
          margin: 0;
        }
      }

      &__footer {
        display: flex;
        font-size: 0.76rem;
        border: 1px solid $light-color;
        border-left: none;
        border-right: none;
        padding: 0;
        margin: 0;

        &--date,
        &--location {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
