#nav-button {
  border: 0.2rem solid #ec5242;
  padding: 1rem;
  color: #ec5242;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  width: 120px;
}

.home-header {
  width: 100vw;
  background-image: url(https://cdn.pixabay.com/photo/2022/04/05/19/34/motherhood-7114294_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  display: flex;
  flex-direction: column;
}

.no-scroll-bg {
  overflow-y: hidden;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.header {
  &__hamburger {
    display: block;
    margin: 0 1.2rem;
    width: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
  }

  &__top-menu {
    display: none;
  }

  &__main-menu {
    display: none;
  }

  &__jumbotron {
    margin: 4rem 1rem 1rem 1rem;

    &-header {
      width: 100%;

      &__main {
        font-family: 'COCOGOOSE', sans-serif;
        text-transform: uppercase;
        background-repeat: repeat;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        font-size: 2rem;
        background-image: url(https://cdn.pixabay.com/photo/2017/03/27/21/38/sunset-2180346__480.jpg);
      }

      &__sub {
        font-weight: 300;
        margin: 2rem 0;
        font-size: 2rem;
        color: $secondary-color;
      }
    }
  }

  .nav-link {
    color: $primary-color;
    transition: all 500ms ease-in-out;
  }

  .nav-link:hover,
  .nav-link:active {
    color: $secondary-color;
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__sub-text {
    border: 2px solid white;
    border-radius: 2px;
    padding: 0.8rem;
    font-weight: 400;
    font-size: 0.9rem;
    margin: 1.5rem 0;
    background-color: rgba(251, 251, 251, 0.45);
  }

  &__event {
    padding: 0.5em 0 1.5rem;

    &--dates {
      font-size: 1.5rem;
      font-weight: 900;
    }

    &--location {
      font-size: 0.9rem;
      margin: 0.5em 0;
      font-weight: 500;
    }
  }
}

.mobile-nav {
  z-index: 10;
  position: absolute;
  left: -120%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  width: 100%;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  cursor: default;
  transition: all 500ms ease-in-out;
}

.mobile-nav.active {
  left: 0;
  height: 100vh;
}

.nav__item {
  margin-bottom: 1rem;
  font-weight: bolder;
  font-size: 1.5rem;
}

.close-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.close-button-logo {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 20px;
}

.close-button {
  border: none;
  outline: none;
  background: none;
  font-size: 3.25rem;
  font-weight: bold;
  margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
    left: -120%;
    position: relative;
    flex-direction: row;
    top: 0;
  }

  .header {
    &__top-menu {
      display: block;
      background-color: var(--bs-dark);
      font-size: 1rem;
    }

    &__main-menu {
      display: block;
      background-color: white;
      font-weight: 500;
      height: 65px;
    }

    &__hamburger {
      display: none;
    }

    &__nav-button {
      border: 0.2rem solid #ec5242;
      padding: 0 0.3em;
      color: #ec5242;
    }

    &__jumbotron {
      margin: 0 6rem;

      &-header {
        width: 60vw;

        &__main {
          font-size: 3.4rem;
        }

        &__sub {
          font-weight: 300;
          margin: 2rem 0;
          font-size: 2rem;
          color: $secondary-color;
        }
      }
    }

    &__main-img {
      margin-top: 3rem;
      height: 200px;
    }

    &__sub-text {
      width: 50%;
      border: 2px solid white;
      border-radius: 2px;
      padding: 0.8rem;
      font-weight: 400;
      font-size: 0.9rem;
      margin: 1.5rem 0;
      background-color: rgba(251, 251, 251, 0.45);
    }

    &__event {
      padding: 0.5em 0 1.5rem;

      &--dates {
        font-size: 1.5rem;
        font-weight: 900;
      }

      &--location {
        font-size: 0.9rem;
        margin: 0.5em 0;
        font-weight: 500;
      }
    }
  }

  .active {
    color: #ec5242;
  }
}
