@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'config';
@import 'header';
@import 'program';
@import 'speakers';
@import 'partners';
@import 'about';
@import 'brand';
@import 'archive';
@import 'footer';

a {
  color: $primary-color;
  text-decoration: none;
}

li {
  list-style-type: none;
}

hr {
  border-bottom: 1px solid $light-color;
}

.secondary__hr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $secondary-color;
  border-bottom: 5px solid $secondary-color;
  width: 4rem;
  margin: 0 auto;
}

.logo-img {
  height: 40px;
  width: auto;
}
